<!-- 活动div起点 -->
			<div id="pageDivUI" class="operation-content">

				<!--起点2-->
				<div data-v-21439fc6="" class="floor4">
					<div data-v-21439fc6="" class="title-con">
						<h1 data-v-21439fc6="">设施服务</h1>
						<h2 data-v-21439fc6="">房客可以按照他们想要的配套设施选择房屋。因此，请在页面上尽可能地全面展示您的房屋的配套设施。</h2>
					</div>
					<div data-v-21439fc6="" class="reject-tips-wrapper"
						style="display: none;">
						<div data-v-084c51af="" data-v-21439fc6="" class="reject-tips">
							<i data-v-084c51af=""
								class="reject-icon ivu-icon ivu-icon-android-alert"
								style="font-size: 17px; color: rgb(255, 87, 86);"></i>
							<p data-v-084c51af="" class="reject-text"></p>
						</div>
					</div>
					<div data-v-21439fc6="" class="service-floor">
						<!---->
						<form data-v-21439fc6="" autocomplete="off"
							class="ivu-form ivu-form-label-right">
							<div data-v-21439fc6="" class="ivu-form-item"
								style="margin-top: 20px;">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-21439fc6="">居家</p>
									<div data-v-21439fc6="" class="ivu-checkbox-group"
										label="homeFamily">
										<label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="无线网络">
												<!----></span> 无线网络</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="有线网络">
												<!----></span> 有线网络</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="电视">
												<!----></span> 电视</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="电视(55寸含以上)">
												<!----></span> 电视(55寸含以上)</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="拖鞋">
												<!----></span> 拖鞋</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="电热水壶">
												<!----></span> 电热水壶</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="全部客厅卧室有空调">
												<!----></span> 全部客厅卧室有空调</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input  name="equipment" type="checkbox" class=" " value="部分客厅卧室有空调">
												<!----></span> 部分客厅卧室有空调</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input  name="equipment" type="checkbox" class=" " value="电吹风">
												<!----></span> 电吹风</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="晾衣架">
												<!----></span> 晾衣架</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment"  type="checkbox" class=" " value="冰箱">
												<!----></span> 冰箱</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="对开门冰箱">
												<!----></span> 对开门冰箱</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="洗衣机">
												<!----></span> 洗衣机</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="烘干机/干衣机">
												<!----></span> 烘干机/干衣机</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="打扫工具">
												<!----></span> 打扫工具</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="洗衣粉/液">
												<!----></span> 洗衣粉/液</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="暖气">
												<!----></span> 暖气</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="电熨斗/挂烫机">
												<!----></span> 电熨斗/挂烫机</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="加湿器">
												<!----></span> 加湿器</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="空气净化器">
												<!----></span> 空气净化器</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="新风系统">
												<!----></span> 新风系统</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="地毯">
												<!----></span> 地毯</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="挂墙装饰画/字画">
												<!----></span> 挂墙装饰画/字画</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment"  type="checkbox" class=" " value="真皮/实木沙发">
												<!----></span> 真皮/实木沙发</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="休闲椅">
												<!----></span> 休闲椅</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="茶几">
												<!----></span> 茶几</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="净水机/滤水系统">
												<!----></span> 净水机/滤水系统</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="equipment" type="checkbox" class=" " value="中央空调">
												<!----></span> 中央空调</label>
									</div>
									<!---->
								</div>
							</div>
							<div data-v-21439fc6="" class="ivu-form-item"
								style="border-top: 1px solid rgb(238, 238, 238);">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-21439fc6="" style="margin-top: 20px;">卫浴</p>
									<div data-v-21439fc6="" class="ivu-checkbox-group"
										label="bathroom">
										<label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="独立卫浴">
												<!----></span> 独立卫浴</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="全天热水">
												<!----></span> 全天热水</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="分时段热水">
												<!----></span> 分时段热水</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="洗发水/沐浴露">
												<!----></span> 洗发水/沐浴露</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="牙具">
												<!----></span> 牙具</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="毛巾">
												<!----></span> 毛巾</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="卫生纸">
												<!----></span> 卫生纸</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="浴巾">
												<!----></span> 浴巾</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="香皂/洗手液">
												<!----></span> 香皂/洗手液</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="浴缸">
												<!----></span> 浴缸</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="sanitaryEquipment" type="checkbox" class=" " value="智能马桶盖">
												<!----></span> 智能马桶盖</label>
									</div>
									<!---->
								</div>
							</div>
							<div data-v-21439fc6="" class="ivu-form-item"
								style="border-top: 1px solid rgb(238, 238, 238);">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-21439fc6="" style="margin-top: 20px;">餐厨</p>
									<div data-v-21439fc6="" class="ivu-checkbox-group"
										label="kitchenEquipment">
										<label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="烹饪锅具">
												<!----></span> 烹饪锅具</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="餐具">
												<!----></span> 餐具</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="刀具菜板">
												<!----></span> 刀具菜板</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="燃气灶">
												<!----></span> 燃气灶</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="电饭煲">
												<!----></span> 电饭煲</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="洗涤用具">
												<!----></span> 洗涤用具</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="电磁炉">
												<!----></span> 电磁炉</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="调料">
												<!----></span> 调料</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="微波炉">
												<!----></span> 微波炉</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="烧烤器具">
												<!----></span> 烧烤器具</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="kitchenEquipment" type="checkbox" class=" " value="整体厨柜">
												<!----></span> 整体厨柜</label>
									</div>
									<!---->
								</div>
							</div>
							<div data-v-21439fc6="" class="ivu-form-item"
								style="border-top: 1px solid rgb(238, 238, 238);">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-21439fc6="" style="margin-top: 20px;">娱乐</p>
									<div data-v-21439fc6="" class="ivu-checkbox-group"
										label="happy">
										<label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="entertainmentEquipment" type="checkbox" class=" " value="麻将机">
												<!----></span> 麻将机</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="entertainmentEquipment" type="checkbox" class=" " value="卡拉OK/家庭影院">
												<!----></span> 卡拉OK/家庭影院</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="entertainmentEquipment" type="checkbox" class=" " value="投影设备">
												<!----></span> 投影设备</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="entertainmentEquipment" type="checkbox" class=" " value="游戏机">
												<!----></span> 游戏机</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="entertainmentEquipment" type="checkbox" class=" " value="桌面足球">
												<!----></span> 桌面足球</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="entertainmentEquipment" type="checkbox" class=" " value="音响/蓝牙音箱">
												<!----></span> 音响/蓝牙音箱</label>
									</div>
									<!---->
								</div>
							</div>
							<div data-v-21439fc6="" class="ivu-form-item"
								style="border-top: 1px solid rgb(238, 238, 238);">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-21439fc6="" style="margin-top: 20px;">安全</p>
									<div data-v-21439fc6="" class="ivu-checkbox-group"
										label="security">
										<label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="safetyEquipment" type="checkbox" class=" " value="保安">
												<!----></span> 保安</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="safetyEquipment" type="checkbox" class=" " value="门禁系统">
												<!----></span> 门禁系统</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="safetyEquipment" type="checkbox" class=" " value="灭火器">
												<!----></span> 灭火器</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="safetyEquipment" type="checkbox" class=" " value="智能门锁">
												<!----></span> 智能门锁</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="safetyEquipment" type="checkbox" class=" " value="火灾警报器">
												<!----></span> 火灾警报器</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="safetyEquipment" type="checkbox" class=" " value="保险箱">
												<!----></span> 保险箱</label>
									</div>
									<!---->
								</div>
							</div>
							<div data-v-21439fc6="" class="ivu-form-item"
								style="border-top: 1px solid rgb(238, 238, 238);">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-21439fc6="" style="margin-top: 20px;">建筑</p>
									<div data-v-21439fc6="" class="ivu-checkbox-group"
										label="buildingEquipment" style="overflow: hidden;">
										<label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="buildingEquipment" type="checkbox" class=" " value="有窗户">
												<!----></span> 有窗户</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="buildingEquipment" type="checkbox" class=" " value="落地窗">
												<!----></span> 落地窗</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="buildingEquipment" type="checkbox" class=" " value="电梯">
												<!----></span> 电梯</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="buildingEquipment" type="checkbox" class=" " value="30㎡以上独立客厅">
												<!----></span> 30㎡以上独立客厅</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="buildingEquipment" type="checkbox" class=" " value="私家花园">
												<!----></span> 私家花园</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="buildingEquipment" type="checkbox" class=" " value="私家泳池">
												<!----></span> 私家泳池</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="buildingEquipment" type="checkbox" class=" " value="观景露台">
												<!----></span> 观景露台</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="buildingEquipment" type="checkbox" class=" " value="私家温泉">
												<!----></span> 私家温泉</label>
									</div>
									<section data-v-5a56108c="" data-v-21439fc6=""
										class="g-unchangeable-tips-layout" style="display: none;">
										<!---->
										<p data-v-5a56108c="" class="tips"
											style="color: rgb(153, 153, 153);"></p>
									</section>
									<!---->
								</div>
							</div>
							<div data-v-21439fc6="" class="ivu-form-item"
								style="border-top: 1px solid rgb(238, 238, 238);">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-21439fc6="" style="margin-top: 20px;">周边（500米内）</p>
									<div data-v-21439fc6="" class="ivu-checkbox-group"
										label="range">
										<label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="peripheralEquipment" type="checkbox" class=" " value="餐厅">
												<!----></span> 餐厅</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="peripheralEquipment" type="checkbox" class=" " value="超市">
												<!----></span> 超市</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="peripheralEquipment" type="checkbox" class=" " value="提款机">
												<!----></span> 提款机</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="peripheralEquipment" type="checkbox" class=" " value="药店">
												<!----></span> 药店</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="peripheralEquipment" type="checkbox" class=" " value="菜市场">
												<!----></span> 菜市场</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="peripheralEquipment" type="checkbox" class=" " value="免费停车">
												<!----></span> 免费停车</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="peripheralEquipment" type="checkbox" class=" " value="儿童乐园">
												<!----></span> 儿童乐园</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="peripheralEquipment" type="checkbox" class=" " value="泳池">
												<!----></span> 泳池</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="peripheralEquipment" type="checkbox" class=" " value="公共花园">
												<!----></span> 公共花园</label>
									</div>
									<!---->
								</div>
							</div>
							<div data-v-21439fc6="" class="ivu-form-item"
								style="border-top: 1px solid rgb(238, 238, 238);">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-21439fc6="" style="margin-top: 20px;">其他</p>
									<div data-v-21439fc6="" class="ivu-checkbox-group"
										label="other">
										<label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="otherServices" type="checkbox" class=" " value="行李寄存">
												<!----></span> 行李寄存</label><label data-v-21439fc6=""
											class="checkboxLi ivu-checkbox-wrapper ivu-checkbox-group-item"><span
											class="ivu-checkbox">
												<input name="otherServices" type="checkbox" class=" " value="急救包">
												<!----></span> 急救包</label>
									</div>
									<!---->
								</div>
							</div>
							<div data-v-21439fc6="" class="ivu-form-item">
								<!---->
								<div class="ivu-form-item-content">
									<div data-v-21439fc6="" class="nextStep">
										<button id="doFacilitiesServices"  onclick="doFacilitiesServicesData()" data-v-21439fc6="" type="button"
											class="nextStep-btn ivu-btn ivu-btn-primary">
											<!---->
											<!---->
											<span>下一步</span>
										</button>
									</div>
									<!---->
								</div>
							</div>
						</form>
						<!---->
					</div>
				</div>

				<!-- 终点2-->


				<div data-v-3ad2572c="" class="floor2" style="display: none;">
					<div data-v-3ad2572c="" class="title-con">
						<h1 data-v-3ad2572c="">房屋详情</h1>
						<h2 data-v-3ad2572c="">客房一般根据房型、户型等信息，选择合适的房屋。</h2>
					</div>
					<div data-v-3ad2572c="" class="reject-tips-wrapper"
						style="display: none;">
						<div data-v-084c51af="" data-v-3ad2572c="" class="reject-tips">
							<i data-v-084c51af=""
								class="reject-icon ivu-icon ivu-icon-android-alert"
								style="font-size: 17px; color: rgb(255, 87, 86);"></i>
							<p data-v-084c51af="" class="reject-text"></p>
						</div>
					</div>
					<div data-v-3ad2572c="" class="detail-floor">
						<form data-v-3ad2572c="" autocomplete="off"
							class="ivu-form ivu-form-label-top">
							<div data-v-3ad2572c="" class="ivu-form-item"
								style="margin-top: 20px;">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-3ad2572c="">出租方式</p>
									<ul data-v-3ad2572c="" class="housingResourcesType-ul">
										<li data-v-3ad2572c="" class="active"><div
												data-v-3ad2572c="" class="houseingType11"></div>
											<span data-v-3ad2572c="">整套房屋</span></li>
										<li data-v-3ad2572c="" class=""><div data-v-3ad2572c=""
												class="houseingType2"></div>
											<span data-v-3ad2572c="">独立房间</span></li>
									</ul>
									<section data-v-5a56108c="" data-v-3ad2572c=""
										class="g-unchangeable-tips-layout" style="">
										<!---->
									</section>
									<!---->
								</div>
							</div>
							<div data-v-3ad2572c="" class="ivu-form-item">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-3ad2572c="">房屋类型</p>
									<div data-v-3ad2572c="" class="ivu-radio-group">
										<label data-v-3ad2572c=""
											class="redio-space ivu-radio-wrapper ivu-radio-group-item ivu-radio-wrapper-checked"><span
											class="ivu-radio ivu-radio-checked"><span
												class="ivu-radio-inner"></span> <input type="radio"
												class="ivu-radio-input"></span>公寓</label><label data-v-3ad2572c=""
											class="redio-space ivu-radio-wrapper ivu-radio-group-item"><span
											class="ivu-radio"><span class="ivu-radio-inner"></span>
												<input type="radio" class="ivu-radio-input"></span>客栈</label><label
											data-v-3ad2572c=""
											class="redio-space ivu-radio-wrapper ivu-radio-group-item"><span
											class="ivu-radio"><span class="ivu-radio-inner"></span>
												<input type="radio" class="ivu-radio-input"></span>别墅</label><label
											data-v-3ad2572c=""
											class="redio-space ivu-radio-wrapper ivu-radio-group-item"><span
											class="ivu-radio"><span class="ivu-radio-inner"></span>
												<input type="radio" class="ivu-radio-input"></span>其他/特色</label>
									</div>
									<div data-v-3ad2572c="">
										<div data-v-3ad2572c="" class="ivu-select ivu-select-single"
											style="width: 353px;">
											<div class="ivu-select-selection">
												<input type="hidden" value="1"> <span
													class="ivu-select-placeholder" style="display: none;">请选择</span>
												<span class="ivu-select-selected-value">普通公寓</span>
												<!---->
												<i class="ivu-icon ivu-icon-ios-close ivu-select-arrow"
													style="display: none;"></i> <i
													class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
											</div>
											<div class="ivu-select-dropdown" style="display: none;">
												<ul class="ivu-select-not-found" style="display: none;">
													<li>无匹配数据</li>
												</ul>
												<ul class="ivu-select-dropdown-list">
													<li data-v-3ad2572c=""
														class="ivu-select-item ivu-select-item-selected"><p
															data-v-3ad2572c="">普通公寓</p>
														<p data-v-3ad2572c="" class="optionExplain">个人房东经营的小区、公寓楼内房屋</p></li>
													<li data-v-3ad2572c="" class="ivu-select-item"><p
															data-v-3ad2572c="">酒店式公寓</p>
														<p data-v-3ad2572c="" class="optionExplain">提供酒店式服务的公寓</p></li>
												</ul>
												<ul class="ivu-select-loading" style="display: none;">加载中
												</ul>
											</div>
										</div>
									</div>
									<div data-v-3ad2572c="">
										<!---->
									</div>
									<div data-v-3ad2572c="">
										<!---->
										<!---->
									</div>
									<!---->
								</div>
							</div>
							<div data-v-3ad2572c="" class="ivu-form-item">
								<label class="ivu-form-item-label">房屋面积</label>
								<div class="ivu-form-item-content">
									<div data-v-3ad2572c=""
										class="ivu-input-wrapper ivu-input-type" style="width: 200px;">
										<!---->
										<!---->
										<i
											class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
										<input autocomplete="off" spellcheck="false" type="text"
											placeholder="整套房屋的使用面积" maxlength="4" class="ivu-input">
										<!---->
									</div>
									<span data-v-3ad2572c="">平米</span>
									<!---->
								</div>
							</div>
							<div data-v-3ad2572c="" class="ivu-form-item"
								style="display: none;">
								<label class="ivu-form-item-label">出租卧室面积</label>
								<div class="ivu-form-item-content">
									<div data-v-3ad2572c=""
										class="ivu-input-wrapper ivu-input-type" style="width: 200px;">
										<!---->
										<!---->
										<i
											class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
										<input autocomplete="off" spellcheck="false" type="text"
											placeholder="独立房间的使用面积" maxlength="2" class="ivu-input">
										<!---->
									</div>
									<span data-v-3ad2572c="">平米</span>
									<!---->
								</div>
							</div>
							<div data-v-3ad2572c="" class="ivu-form-item">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-3ad2572c="">房屋景观</p>
									<div data-v-3ad2572c="" class="ivu-select ivu-select-single"
										style="width: 200px;">
										<div class="ivu-select-selection">
											<input type="hidden" value="0"> <span
												class="ivu-select-placeholder" style="display: none;">请选择</span>
											<span class="ivu-select-selected-value">无</span>
											<!---->
											<i class="ivu-icon ivu-icon-ios-close ivu-select-arrow"
												style="display: none;"></i> <i
												class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
										</div>
										<div class="ivu-select-dropdown" style="display: none;">
											<ul class="ivu-select-not-found" style="display: none;">
												<li>无匹配数据</li>
											</ul>
											<ul class="ivu-select-dropdown-list">
												<li data-v-3ad2572c=""
													class="ivu-select-item ivu-select-item-selected">无</li>
												<li data-v-3ad2572c="" class="ivu-select-item">海景</li>
												<li data-v-3ad2572c="" class="ivu-select-item">湖景</li>
												<li data-v-3ad2572c="" class="ivu-select-item">江景</li>
												<li data-v-3ad2572c="" class="ivu-select-item">山景</li>
											</ul>
											<ul class="ivu-select-loading" style="display: none;">加载中
											</ul>
										</div>
									</div>
									<br data-v-3ad2572c="">
									<!---->
									<!---->
								</div>
							</div>
							<div data-v-3ad2572c="" class="ivu-form-item">
								<!---->
								<div class="ivu-form-item-content">
									<p data-v-3ad2572c="">房屋户型</p>
									<span data-v-3ad2572c=""
										style="color: rgb(0, 0, 0); margin-top: 100px;">卧室</span>
									<div data-v-3ad2572c="" class="ivu-input-number"
										style="width: 100px; margin-right: 15px;">
										<div class="ivu-input-number-handler-wrap">
											<a
												class="ivu-input-number-handler ivu-input-number-handler-up"><span
												class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
											<a
												class="ivu-input-number-handler ivu-input-number-handler-down ivu-input-number-handler-down-disabled"><span
												class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
										</div>
										<div class="ivu-input-number-input-wrap">
											<input autocomplete="off" spellcheck="false"
												class="ivu-input-number-input">
										</div>
									</div>
									<span data-v-3ad2572c="" style="color: rgb(0, 0, 0);">卫生间</span>
									<div data-v-3ad2572c="" class="ivu-input-number"
										style="width: 100px; margin-right: 15px;">
										<div class="ivu-input-number-handler-wrap">
											<a
												class="ivu-input-number-handler ivu-input-number-handler-up"><span
												class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
											<a
												class="ivu-input-number-handler ivu-input-number-handler-down"><span
												class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
										</div>
										<div class="ivu-input-number-input-wrap">
											<input autocomplete="off" spellcheck="false"
												class="ivu-input-number-input">
										</div>
									</div>
									<span data-v-3ad2572c="" style="color: rgb(0, 0, 0);">客厅</span>
									<div data-v-3ad2572c="" class="ivu-input-number"
										style="width: 100px; margin-right: 15px;">
										<div class="ivu-input-number-handler-wrap">
											<a
												class="ivu-input-number-handler ivu-input-number-handler-up"><span
												class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
											<a
												class="ivu-input-number-handler ivu-input-number-handler-down ivu-input-number-handler-down-disabled"><span
												class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
										</div>
										<div class="ivu-input-number-input-wrap">
											<input autocomplete="off" spellcheck="false"
												class="ivu-input-number-input">
										</div>
									</div>
									<span data-v-3ad2572c="" style="color: rgb(0, 0, 0);">厨房</span>
									<div data-v-3ad2572c="" class="ivu-input-number"
										style="width: 100px; margin-right: 15px;">
										<div class="ivu-input-number-handler-wrap">
											<a
												class="ivu-input-number-handler ivu-input-number-handler-up"><span
												class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
											<a
												class="ivu-input-number-handler ivu-input-number-handler-down ivu-input-number-handler-down-disabled"><span
												class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
										</div>
										<div class="ivu-input-number-input-wrap">
											<input autocomplete="off" spellcheck="false"
												class="ivu-input-number-input">
										</div>
									</div>
									<span data-v-3ad2572c="" style="color: rgb(0, 0, 0);">书房</span>
									<div data-v-3ad2572c="" class="ivu-input-number"
										style="width: 100px; margin-right: 15px;">
										<div class="ivu-input-number-handler-wrap">
											<a
												class="ivu-input-number-handler ivu-input-number-handler-up"><span
												class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
											<a
												class="ivu-input-number-handler ivu-input-number-handler-down ivu-input-number-handler-down-disabled"><span
												class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
										</div>
										<div class="ivu-input-number-input-wrap">
											<input autocomplete="off" spellcheck="false"
												class="ivu-input-number-input">
										</div>
									</div>
									<span data-v-3ad2572c="" style="color: rgb(0, 0, 0);">阳台</span>
									<div data-v-3ad2572c="" class="ivu-input-number"
										style="width: 100px;">
										<div class="ivu-input-number-handler-wrap">
											<a
												class="ivu-input-number-handler ivu-input-number-handler-up"><span
												class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
											<a
												class="ivu-input-number-handler ivu-input-number-handler-down ivu-input-number-handler-down-disabled"><span
												class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
										</div>
										<div class="ivu-input-number-input-wrap">
											<input autocomplete="off" spellcheck="false"
												class="ivu-input-number-input">
										</div>
									</div>
									<section data-v-5a56108c="" data-v-3ad2572c=""
										class="g-unchangeable-tips-layout" style="display: none;">
										<!---->
										<p data-v-5a56108c="" class="tips"
											style="color: rgb(255, 102, 102);">独立房间必须大于1室</p>
									</section>
									<section data-v-5a56108c="" data-v-3ad2572c=""
										class="g-unchangeable-tips-layout" style="">
										<!---->
									</section>
									<!---->
								</div>
							</div>
							<p data-v-3ad2572c="" style="margin-bottom: 8px;">床型</p>
							<div data-v-3ad2572c="" class="ivu-form-item">
								<!---->
								<div class="ivu-form-item-content">
									<section data-v-3ad2572c="" class="g-house-bed-select-layout">
										<div class="bed-select ivu-select ivu-select-single">
											<div class="ivu-select-selection">
												<input type="hidden" value="16"> <span
													class="ivu-select-placeholder" style="display: none;">请选择</span>
												<span class="ivu-select-selected-value">大床</span>
												<!---->
												<i class="ivu-icon ivu-icon-ios-close ivu-select-arrow"
													style="display: none;"></i> <i
													class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
											</div>
											<div class="ivu-select-dropdown" style="display: none;">
												<ul class="ivu-select-not-found" style="display: none;">
													<li>无匹配数据</li>
												</ul>
												<ul class="ivu-select-dropdown-list">
													<li class="ivu-select-item ivu-select-item-selected">大床</li>
													<li class="ivu-select-item">圆床</li>
													<li class="ivu-select-item">双层床</li>
													<li class="ivu-select-item">双人沙发床</li>
													<li class="ivu-select-item">单人床</li>
													<li class="ivu-select-item">单人沙发床</li>
													<li class="ivu-select-item">儿童床</li>
													<li class="ivu-select-item">儿童双层床</li>
													<li class="ivu-select-item">榻榻米</li>
													<li class="ivu-select-item">炕</li>
													<li class="ivu-select-item">地上床垫</li>
												</ul>
												<ul class="ivu-select-loading" style="display: none;">加载中
												</ul>
											</div>
										</div>
										<div class="bed-select ivu-select ivu-select-single">
											<div class="ivu-select-selection">
												<input type="hidden" value="13"> <span
													class="ivu-select-placeholder" style="display: none;">请选择</span>
												<span class="ivu-select-selected-value">2×1.8米</span>
												<!---->
												<i class="ivu-icon ivu-icon-ios-close ivu-select-arrow"
													style="display: none;"></i> <i
													class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
											</div>
											<div class="ivu-select-dropdown" style="display: none;">
												<ul class="ivu-select-not-found" style="display: none;">
													<li>无匹配数据</li>
												</ul>
												<ul class="ivu-select-dropdown-list">
													<li class="ivu-select-item ivu-select-item-selected">2×1.8米</li>
													<li class="ivu-select-item">2×1.5米</li>
													<li class="ivu-select-item">1.8×1.5米</li>
													<li class="ivu-select-item">2×2米</li>
													<li class="ivu-select-item">2×1.6米</li>
													<li class="ivu-select-item">2.2×2.2米</li>
												</ul>
												<ul class="ivu-select-loading" style="display: none;">加载中
												</ul>
											</div>
										</div>
										<div class="bed-select ivu-select ivu-select-single">
											<div class="ivu-select-selection">
												<input type="hidden" value="1"> <span
													class="ivu-select-placeholder" style="display: none;">请选择</span>
												<span class="ivu-select-selected-value">1</span>
												<!---->
												<i class="ivu-icon ivu-icon-ios-close ivu-select-arrow"
													style="display: none;"></i> <i
													class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
											</div>
											<div class="ivu-select-dropdown" style="display: none;">
												<ul class="ivu-select-not-found" style="display: none;">
													<li>无匹配数据</li>
												</ul>
												<ul class="ivu-select-dropdown-list">
													<li class="ivu-select-item ivu-select-item-selected">1</li>
													<li class="ivu-select-item">2</li>
													<li class="ivu-select-item">3</li>
													<li class="ivu-select-item">4</li>
													<li class="ivu-select-item">5</li>
													<li class="ivu-select-item">6</li>
													<li class="ivu-select-item">7</li>
													<li class="ivu-select-item">8</li>
													<li class="ivu-select-item">9</li>
													<li class="ivu-select-item">10</li>
												</ul>
												<ul class="ivu-select-loading" style="display: none;">加载中
												</ul>
											</div>
										</div>
									</section>
									<span data-v-3ad2572c=""
										style="color: rgb(110, 128, 227); font-size: 14px; cursor: pointer;">删除</span>
									<!---->
								</div>
							</div>
							<button data-v-3ad2572c="" type="button"
								class="addBed-btn ivu-btn ivu-btn-primary">
								<!---->
								<!---->
								<span>+ 继续添加床型</span>
							</button>
							<div data-v-3ad2572c=""
								class="ivu-form-item ivu-form-item-required"
								style="width: 500px;">
								<label class="ivu-form-item-label">同类房屋数量</label>
								<div class="ivu-form-item-content">
									<p data-v-3ad2572c="">
										<span data-v-3ad2572c=""
											style="font-size: 12px; margin-left: 10px; color: rgb(153, 153, 153);">房屋数量是指相同类型房屋的数量，最终会以库存的形式呈现。</span>
									</p>
									<div data-v-3ad2572c=""
										class="ivu-input-wrapper ivu-input-type" style="width: 200px;">
										<!---->
										<!---->
										<i
											class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
										<input autocomplete="off" spellcheck="false" type="text"
											placeholder="请输入同类房源数量" maxlength="3" class="ivu-input">
										<!---->
									</div>
									<span data-v-3ad2572c="">套</span>
									<section data-v-5a56108c="" data-v-3ad2572c=""
										class="g-unchangeable-tips-layout" style="">
										<!---->
									</section>
									<!---->
								</div>
							</div>
							<!---->
							<!---->
							<div data-v-3ad2572c="" class="ivu-form-item">
								<!---->
								<div class="ivu-form-item-content">
									<div data-v-3ad2572c="" class="nextStep">
										<button data-v-3ad2572c="" type="button"
											class="nextStep-btn ivu-btn ivu-btn-primary">
											<!---->
											<!---->
											<span>下一步</span>
										</button>
									</div>
									<!---->
								</div>
							</div>
						</form>
						<!---->
					</div>

				</div>
				<!---->
				<!---->
				<!---->
				<!---->
				<!---->
				<!---->
				<!---->
				<!---->

			</div>
			<!-- 活动div终点 -->