

<!-- 活动div起点 -->


<!--起点2-->
<div data-v-d8c4e092="" class="floor3"
	floor2formvalidate="[object Object]">
	<div data-v-d8c4e092="" class="title-con">
		<h1 data-v-d8c4e092="">房屋描述</h1>
	</div>
	<div data-v-d8c4e092="" class="reject-tips-wrapper"
		style="display: none;">
		<div data-v-084c51af="" data-v-d8c4e092="" class="reject-tips">
			<i data-v-084c51af=""
				class="reject-icon ivu-icon ivu-icon-android-alert"
				style="font-size: 17px; color: rgb(255, 87, 86);"></i>
			<p data-v-084c51af="" class="reject-text"></p>
		</div>
	</div>
	<div data-v-d8c4e092="" class="describe-floor">
		<form data-v-d8c4e092="" autocomplete="off"
			class="ivu-form ivu-form-label-right"
			style="margin-top: 20px; position: relative;">
			<div data-v-d8c4e092="" class="ivu-form-item ivu-form-item-required"
				style="width: 500px;">
				<label class="ivu-form-item-label">房屋名称</label>
				<div class="ivu-form-item-content">
					<div data-v-d8c4e092=""
						class="ivu-input-wrapper ivu-input-wrapper-large ivu-input-type">
						<!---->
						<!---->
						<i
							class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
						<input name="HouseName" autocomplete="off" spellcheck="false"
							type="text" placeholder="建议：地标+特色/亮点+户型" maxlength="20"
							class="ivu-input ivu-input-large">
						<!---->
					</div>
					<section data-v-4ce18a91="" data-v-d8c4e092=""
						class="g-pop-tips-layout pop-tips-position house-name"
						style="display: none;">
						<p data-v-4ce18a91="" class="tips-text">示例：后海简约风格湖景两居公寓</p>
					</section>
					<p data-v-d8c4e092="" class="check-sensitive-words"
						style="display: none;"></p>
					<p data-v-d8c4e092="" class="check-sensitive-words"
						style="display: none;">房屋名称已被占用，另取一个吧！</p>
					<!---->
				</div>
			</div>
			<div data-v-d8c4e092="" class="ivu-form-item ivu-form-item-required"
				style="margin-top: 30px; width: 500px;">
				<label class="ivu-form-item-label">房屋特色</label>
				<div class="ivu-form-item-content">
					<div data-v-d8c4e092="" class="ivu-input-wrapper ivu-input-type"
						style="width: 500px;">
						<textarea name="houseFeature" autocomplete="off"
							spellcheck="false" placeholder="可描述房屋软装风格，家居配套，小区环境，物业管理等"
							rows="6" maxlength="1000" class="ivu-input"></textarea>
					</div>
					<section data-v-4ce18a91="" data-v-d8c4e092=""
						class="g-pop-tips-layout pop-tips-position house-info"
						style="display: none;">
						<p data-v-4ce18a91="" class="tips-text">示例：整个房子为地中海风格，卧室有超大飘窗，窗外可见中国尊。室内设施采用全套宜家家居，床品舒适。洗衣做饭方便。小区绿化达70%，有免费室外温泉，棋牌室可供使用。配备了24小时保安系统，安全便捷。</p>
					</section>
					<!---->
					<span data-v-d8c4e092="" class="check-sensitive-words"
						style="display: none;"></span><span data-v-d8c4e092=""
						class="textRight" style="float: right;">0/1000</span>
					<!---->
				</div>
			</div>
			<div data-v-d8c4e092="" class="ivu-form-item"
				style="margin-top: 20px; width: 500px;">
				<!---->
				<div class="ivu-form-item-content">
					<p data-v-d8c4e092="">交通位置（选填）</p>
					<div data-v-d8c4e092="" class="ivu-input-wrapper ivu-input-type"
						style="width: 500px;">
						<textarea name="position" autocomplete="off"
							spellcheck="false"
							placeholder="位于朝阳门外大街，从朝阳门地铁站A口5分钟到达。楼下有38路、101路等多条公交线路，十分方便。"
							rows="6" maxlength="500" class="ivu-input"></textarea>
					</div>
					<!---->
					<span data-v-d8c4e092="" class="check-sensitive-words"
						style="display: none;"></span><span data-v-d8c4e092=""
						class="textRight" style="float: right;">0/500</span>
					<!---->
				</div>
			</div>
			<div data-v-d8c4e092="" class="ivu-form-item" style="width: 500px;">
				<!---->
				<div class="ivu-form-item-content">
					<p data-v-d8c4e092="">周边介绍（选填）</p>
					<div data-v-d8c4e092="" class="ivu-input-wrapper ivu-input-type"
						style="width: 500px;">
						<textarea name="PeripheralIntroduction" autocomplete="off"
							spellcheck="false"
							placeholder="小区东侧有条美食街，特别推荐冒牌火锅菜、海鲜烧烤；附近配有超市便利店、辉煌量贩式KTV、24小时药店、建行ATM，生活便利；最近的医院是**医院，距离2公里，车程仅5分钟，出租车起步价就到。"
							rows="6" maxlength="500" class="ivu-input"></textarea>
					</div>
					<!---->
					<span data-v-d8c4e092="" class="check-sensitive-words"
						style="display: none;"></span><span data-v-d8c4e092=""
						class="textRight" style="float: right;">0/500</span>
					<!---->
				</div>
			</div>
			<div data-v-d8c4e092="" class="ivu-form-item">
				<!---->
				<div class="ivu-form-item-content">
					<div data-v-d8c4e092="" class="nextStep">
						<button id="doHousingFacilitiesServices" onclick="doHousingDescriptionData()" data-v-d8c4e092=""
							type="button" class="nextStep-btn ivu-btn ivu-btn-primary">
							<!---->
							<!---->
							<span>下一步</span>
						</button>
					</div>
					<!---->
				</div>
			</div>
		</form>
	</div>
</div>

<!-- 终点2-->


<div data-v-3ad2572c="" class="floor2" style="display: none;">
	<div data-v-3ad2572c="" class="title-con">
		<h1 data-v-3ad2572c="">房屋详情</h1>
		<h2 data-v-3ad2572c="">客房一般根据房型、户型等信息，选择合适的房屋。</h2>
	</div>
	<div data-v-3ad2572c="" class="reject-tips-wrapper"
		style="display: none;">
		<div data-v-084c51af="" data-v-3ad2572c="" class="reject-tips">
			<i data-v-084c51af=""
				class="reject-icon ivu-icon ivu-icon-android-alert"
				style="font-size: 17px; color: rgb(255, 87, 86);"></i>
			<p data-v-084c51af="" class="reject-text"></p>
		</div>
	</div>
	<div data-v-3ad2572c="" class="detail-floor">
		<form data-v-3ad2572c="" autocomplete="off"
			class="ivu-form ivu-form-label-top">
			<div data-v-3ad2572c="" class="ivu-form-item"
				style="margin-top: 20px;">
				<!---->
				<div class="ivu-form-item-content">
					<p data-v-3ad2572c="">出租方式</p>
					<ul data-v-3ad2572c="" class="housingResourcesType-ul">
						<li data-v-3ad2572c="" class="active"><div data-v-3ad2572c=""
								class="houseingType11"></div>
							<span data-v-3ad2572c="">整套房屋</span></li>
						<li data-v-3ad2572c="" class=""><div data-v-3ad2572c=""
								class="houseingType2"></div>
							<span data-v-3ad2572c="">独立房间</span></li>
					</ul>
					<section data-v-5a56108c="" data-v-3ad2572c=""
						class="g-unchangeable-tips-layout" style="">
						<!---->
					</section>
					<!---->
				</div>
			</div>
			<div data-v-3ad2572c="" class="ivu-form-item">
				<!---->
				<div class="ivu-form-item-content">
					<p data-v-3ad2572c="">房屋类型</p>
					<div data-v-3ad2572c="" class="ivu-radio-group">
						<label data-v-3ad2572c=""
							class="redio-space ivu-radio-wrapper ivu-radio-group-item ivu-radio-wrapper-checked"><span
							class="ivu-radio ivu-radio-checked"><span
								class="ivu-radio-inner"></span> <input type="radio"
								class="ivu-radio-input"></span>公寓</label><label data-v-3ad2572c=""
							class="redio-space ivu-radio-wrapper ivu-radio-group-item"><span
							class="ivu-radio"><span class="ivu-radio-inner"></span> <input
								type="radio" class="ivu-radio-input"></span>客栈</label><label
							data-v-3ad2572c=""
							class="redio-space ivu-radio-wrapper ivu-radio-group-item"><span
							class="ivu-radio"><span class="ivu-radio-inner"></span> <input
								type="radio" class="ivu-radio-input"></span>别墅</label><label
							data-v-3ad2572c=""
							class="redio-space ivu-radio-wrapper ivu-radio-group-item"><span
							class="ivu-radio"><span class="ivu-radio-inner"></span> <input
								type="radio" class="ivu-radio-input"></span>其他/特色</label>
					</div>
					<div data-v-3ad2572c="">
						<div data-v-3ad2572c="" class="ivu-select ivu-select-single"
							style="width: 353px;">
							<div class="ivu-select-selection">
								<input type="hidden" value="1"> <span
									class="ivu-select-placeholder" style="display: none;">请选择</span>
								<span class="ivu-select-selected-value">普通公寓</span>
								<!---->
								<i class="ivu-icon ivu-icon-ios-close ivu-select-arrow"
									style="display: none;"></i> <i
									class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
							</div>
							<div class="ivu-select-dropdown" style="display: none;">
								<ul class="ivu-select-not-found" style="display: none;">
									<li>无匹配数据</li>
								</ul>
								<ul class="ivu-select-dropdown-list">
									<li data-v-3ad2572c=""
										class="ivu-select-item ivu-select-item-selected"><p
											data-v-3ad2572c="">普通公寓</p>
										<p data-v-3ad2572c="" class="optionExplain">个人房东经营的小区、公寓楼内房屋</p></li>
									<li data-v-3ad2572c="" class="ivu-select-item"><p
											data-v-3ad2572c="">酒店式公寓</p>
										<p data-v-3ad2572c="" class="optionExplain">提供酒店式服务的公寓</p></li>
								</ul>
								<ul class="ivu-select-loading" style="display: none;">加载中
								</ul>
							</div>
						</div>
					</div>
					<div data-v-3ad2572c="">
						<!---->
					</div>
					<div data-v-3ad2572c="">
						<!---->
						<!---->
					</div>
					<!---->
				</div>
			</div>
			<div data-v-3ad2572c="" class="ivu-form-item">
				<label class="ivu-form-item-label">房屋面积</label>
				<div class="ivu-form-item-content">
					<div data-v-3ad2572c="" class="ivu-input-wrapper ivu-input-type"
						style="width: 200px;">
						<!---->
						<!---->
						<i
							class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
						<input autocomplete="off" spellcheck="false" type="text"
							placeholder="整套房屋的使用面积" maxlength="4" class="ivu-input">
						<!---->
					</div>
					<span data-v-3ad2572c="">平米</span>
					<!---->
				</div>
			</div>
			<div data-v-3ad2572c="" class="ivu-form-item" style="display: none;">
				<label class="ivu-form-item-label">出租卧室面积</label>
				<div class="ivu-form-item-content">
					<div data-v-3ad2572c="" class="ivu-input-wrapper ivu-input-type"
						style="width: 200px;">
						<!---->
						<!---->
						<i
							class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
						<input autocomplete="off" spellcheck="false" type="text"
							placeholder="独立房间的使用面积" maxlength="2" class="ivu-input">
						<!---->
					</div>
					<span data-v-3ad2572c="">平米</span>
					<!---->
				</div>
			</div>
			<div data-v-3ad2572c="" class="ivu-form-item">
				<!---->
				<div class="ivu-form-item-content">
					<p data-v-3ad2572c="">房屋景观</p>
					<div data-v-3ad2572c="" class="ivu-select ivu-select-single"
						style="width: 200px;">
						<div class="ivu-select-selection">
							<input type="hidden" value="0"> <span
								class="ivu-select-placeholder" style="display: none;">请选择</span>
							<span class="ivu-select-selected-value">无</span>
							<!---->
							<i class="ivu-icon ivu-icon-ios-close ivu-select-arrow"
								style="display: none;"></i> <i
								class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
						</div>
						<div class="ivu-select-dropdown" style="display: none;">
							<ul class="ivu-select-not-found" style="display: none;">
								<li>无匹配数据</li>
							</ul>
							<ul class="ivu-select-dropdown-list">
								<li data-v-3ad2572c=""
									class="ivu-select-item ivu-select-item-selected">无</li>
								<li data-v-3ad2572c="" class="ivu-select-item">海景</li>
								<li data-v-3ad2572c="" class="ivu-select-item">湖景</li>
								<li data-v-3ad2572c="" class="ivu-select-item">江景</li>
								<li data-v-3ad2572c="" class="ivu-select-item">山景</li>
							</ul>
							<ul class="ivu-select-loading" style="display: none;">加载中
							</ul>
						</div>
					</div>
					<br data-v-3ad2572c="">
					<!---->
					<!---->
				</div>
			</div>
			<div data-v-3ad2572c="" class="ivu-form-item">
				<!---->
				<div class="ivu-form-item-content">
					<p data-v-3ad2572c="">房屋户型</p>
					<span data-v-3ad2572c=""
						style="color: rgb(0, 0, 0); margin-top: 100px;">卧室</span>
					<div data-v-3ad2572c="" class="ivu-input-number"
						style="width: 100px; margin-right: 15px;">
						<div class="ivu-input-number-handler-wrap">
							<a class="ivu-input-number-handler ivu-input-number-handler-up"><span
								class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
							<a
								class="ivu-input-number-handler ivu-input-number-handler-down ivu-input-number-handler-down-disabled"><span
								class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
						</div>
						<div class="ivu-input-number-input-wrap">
							<input autocomplete="off" spellcheck="false"
								class="ivu-input-number-input">
						</div>
					</div>
					<span data-v-3ad2572c="" style="color: rgb(0, 0, 0);">卫生间</span>
					<div data-v-3ad2572c="" class="ivu-input-number"
						style="width: 100px; margin-right: 15px;">
						<div class="ivu-input-number-handler-wrap">
							<a class="ivu-input-number-handler ivu-input-number-handler-up"><span
								class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
							<a class="ivu-input-number-handler ivu-input-number-handler-down"><span
								class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
						</div>
						<div class="ivu-input-number-input-wrap">
							<input autocomplete="off" spellcheck="false"
								class="ivu-input-number-input">
						</div>
					</div>
					<span data-v-3ad2572c="" style="color: rgb(0, 0, 0);">客厅</span>
					<div data-v-3ad2572c="" class="ivu-input-number"
						style="width: 100px; margin-right: 15px;">
						<div class="ivu-input-number-handler-wrap">
							<a class="ivu-input-number-handler ivu-input-number-handler-up"><span
								class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
							<a
								class="ivu-input-number-handler ivu-input-number-handler-down ivu-input-number-handler-down-disabled"><span
								class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
						</div>
						<div class="ivu-input-number-input-wrap">
							<input autocomplete="off" spellcheck="false"
								class="ivu-input-number-input">
						</div>
					</div>
					<span data-v-3ad2572c="" style="color: rgb(0, 0, 0);">厨房</span>
					<div data-v-3ad2572c="" class="ivu-input-number"
						style="width: 100px; margin-right: 15px;">
						<div class="ivu-input-number-handler-wrap">
							<a class="ivu-input-number-handler ivu-input-number-handler-up"><span
								class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
							<a
								class="ivu-input-number-handler ivu-input-number-handler-down ivu-input-number-handler-down-disabled"><span
								class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
						</div>
						<div class="ivu-input-number-input-wrap">
							<input autocomplete="off" spellcheck="false"
								class="ivu-input-number-input">
						</div>
					</div>
					<span data-v-3ad2572c="" style="color: rgb(0, 0, 0);">书房</span>
					<div data-v-3ad2572c="" class="ivu-input-number"
						style="width: 100px; margin-right: 15px;">
						<div class="ivu-input-number-handler-wrap">
							<a class="ivu-input-number-handler ivu-input-number-handler-up"><span
								class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
							<a
								class="ivu-input-number-handler ivu-input-number-handler-down ivu-input-number-handler-down-disabled"><span
								class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
						</div>
						<div class="ivu-input-number-input-wrap">
							<input autocomplete="off" spellcheck="false"
								class="ivu-input-number-input">
						</div>
					</div>
					<span data-v-3ad2572c="" style="color: rgb(0, 0, 0);">阳台</span>
					<div data-v-3ad2572c="" class="ivu-input-number"
						style="width: 100px;">
						<div class="ivu-input-number-handler-wrap">
							<a class="ivu-input-number-handler ivu-input-number-handler-up"><span
								class="ivu-input-number-handler-up-inner ivu-icon ivu-icon-ios-arrow-up"></span></a>
							<a
								class="ivu-input-number-handler ivu-input-number-handler-down ivu-input-number-handler-down-disabled"><span
								class="ivu-input-number-handler-down-inner ivu-icon ivu-icon-ios-arrow-down"></span></a>
						</div>
						<div class="ivu-input-number-input-wrap">
							<input autocomplete="off" spellcheck="false"
								class="ivu-input-number-input">
						</div>
					</div>
					<section data-v-5a56108c="" data-v-3ad2572c=""
						class="g-unchangeable-tips-layout" style="display: none;">
						<!---->
						<p data-v-5a56108c="" class="tips"
							style="color: rgb(255, 102, 102);">独立房间必须大于1室</p>
					</section>
					<section data-v-5a56108c="" data-v-3ad2572c=""
						class="g-unchangeable-tips-layout" style="">
						<!---->
					</section>
					<!---->
				</div>
			</div>
			<p data-v-3ad2572c="" style="margin-bottom: 8px;">床型</p>
			<div data-v-3ad2572c="" class="ivu-form-item">
				<!---->
				<div class="ivu-form-item-content">
					<section data-v-3ad2572c="" class="g-house-bed-select-layout">
						<div class="bed-select ivu-select ivu-select-single">
							<div class="ivu-select-selection">
								<input type="hidden" value="16"> <span
									class="ivu-select-placeholder" style="display: none;">请选择</span>
								<span class="ivu-select-selected-value">大床</span>
								<!---->
								<i class="ivu-icon ivu-icon-ios-close ivu-select-arrow"
									style="display: none;"></i> <i
									class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
							</div>
							<div class="ivu-select-dropdown" style="display: none;">
								<ul class="ivu-select-not-found" style="display: none;">
									<li>无匹配数据</li>
								</ul>
								<ul class="ivu-select-dropdown-list">
									<li class="ivu-select-item ivu-select-item-selected">大床</li>
									<li class="ivu-select-item">圆床</li>
									<li class="ivu-select-item">双层床</li>
									<li class="ivu-select-item">双人沙发床</li>
									<li class="ivu-select-item">单人床</li>
									<li class="ivu-select-item">单人沙发床</li>
									<li class="ivu-select-item">儿童床</li>
									<li class="ivu-select-item">儿童双层床</li>
									<li class="ivu-select-item">榻榻米</li>
									<li class="ivu-select-item">炕</li>
									<li class="ivu-select-item">地上床垫</li>
								</ul>
								<ul class="ivu-select-loading" style="display: none;">加载中
								</ul>
							</div>
						</div>
						<div class="bed-select ivu-select ivu-select-single">
							<div class="ivu-select-selection">
								<input type="hidden" value="13"> <span
									class="ivu-select-placeholder" style="display: none;">请选择</span>
								<span class="ivu-select-selected-value">2×1.8米</span>
								<!---->
								<i class="ivu-icon ivu-icon-ios-close ivu-select-arrow"
									style="display: none;"></i> <i
									class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
							</div>
							<div class="ivu-select-dropdown" style="display: none;">
								<ul class="ivu-select-not-found" style="display: none;">
									<li>无匹配数据</li>
								</ul>
								<ul class="ivu-select-dropdown-list">
									<li class="ivu-select-item ivu-select-item-selected">2×1.8米</li>
									<li class="ivu-select-item">2×1.5米</li>
									<li class="ivu-select-item">1.8×1.5米</li>
									<li class="ivu-select-item">2×2米</li>
									<li class="ivu-select-item">2×1.6米</li>
									<li class="ivu-select-item">2.2×2.2米</li>
								</ul>
								<ul class="ivu-select-loading" style="display: none;">加载中
								</ul>
							</div>
						</div>
						<div class="bed-select ivu-select ivu-select-single">
							<div class="ivu-select-selection">
								<input type="hidden" value="1"> <span
									class="ivu-select-placeholder" style="display: none;">请选择</span>
								<span class="ivu-select-selected-value">1</span>
								<!---->
								<i class="ivu-icon ivu-icon-ios-close ivu-select-arrow"
									style="display: none;"></i> <i
									class="ivu-icon ivu-icon-arrow-down-b ivu-select-arrow"></i>
							</div>
							<div class="ivu-select-dropdown" style="display: none;">
								<ul class="ivu-select-not-found" style="display: none;">
									<li>无匹配数据</li>
								</ul>
								<ul class="ivu-select-dropdown-list">
									<li class="ivu-select-item ivu-select-item-selected">1</li>
									<li class="ivu-select-item">2</li>
									<li class="ivu-select-item">3</li>
									<li class="ivu-select-item">4</li>
									<li class="ivu-select-item">5</li>
									<li class="ivu-select-item">6</li>
									<li class="ivu-select-item">7</li>
									<li class="ivu-select-item">8</li>
									<li class="ivu-select-item">9</li>
									<li class="ivu-select-item">10</li>
								</ul>
								<ul class="ivu-select-loading" style="display: none;">加载中
								</ul>
							</div>
						</div>
					</section>
					<span data-v-3ad2572c=""
						style="color: rgb(110, 128, 227); font-size: 14px; cursor: pointer;">删除</span>
					<!---->
				</div>
			</div>
			<button data-v-3ad2572c="" type="button"
				class="addBed-btn ivu-btn ivu-btn-primary">
				<!---->
				<!---->
				<span>+ 继续添加床型</span>
			</button>
			<div data-v-3ad2572c="" class="ivu-form-item ivu-form-item-required"
				style="width: 500px;">
				<label class="ivu-form-item-label">同类房屋数量</label>
				<div class="ivu-form-item-content">
					<p data-v-3ad2572c="">
						<span data-v-3ad2572c=""
							style="font-size: 12px; margin-left: 10px; color: rgb(153, 153, 153);">房屋数量是指相同类型房屋的数量，最终会以库存的形式呈现。</span>
					</p>
					<div data-v-3ad2572c="" class="ivu-input-wrapper ivu-input-type"
						style="width: 200px;">
						<!---->
						<!---->
						<i
							class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
						<input autocomplete="off" spellcheck="false" type="text"
							placeholder="请输入同类房源数量" maxlength="3" class="ivu-input">
						<!---->
					</div>
					<span data-v-3ad2572c="">套</span>
					<section data-v-5a56108c="" data-v-3ad2572c=""
						class="g-unchangeable-tips-layout" style="">
						<!---->
					</section>
					<!---->
				</div>
			</div>
			<!---->
			<!---->
			<div data-v-3ad2572c="" class="ivu-form-item">
				<!---->
				<div class="ivu-form-item-content">
					<div data-v-3ad2572c="" class="nextStep">
						<button data-v-3ad2572c="" type="button"
							class="nextStep-btn ivu-btn ivu-btn-primary">
							<!---->
							<!---->
							<span>下一步</span>
						</button>



					</div>
					<!---->
				</div>
			</div>
		</form>
		<!---->



	</div>
</div>
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->


<!-- 活动div终点 -->


