<!--起点2-->
<div data-v-3ad2572c="" class="floor2" style="">
	<div data-v-3ad2572c="" class="title-con">
		<h1 data-v-3ad2572c="">房屋详情</h1>
		<h2 data-v-3ad2572c="">客房一般根据房型、户型等信息，选择合适的房屋。</h2>
	</div>
	<div data-v-3ad2572c="" class="reject-tips-wrapper"
		style="display: none;">
		<div data-v-084c51af="" data-v-3ad2572c="" class="reject-tips">
			<i data-v-084c51af=""
				class="reject-icon ivu-icon ivu-icon-android-alert"
				style="font-size: 17px; color: rgb(255, 87, 86);"></i>
			<p data-v-084c51af="" class="reject-text"></p>
		</div>
	</div>
	<div data-v-3ad2572c="" class="detail-floor">
		<form id="detailsForm" data-v-3ad2572c="" autocomplete="off"
			class="ivu-form ivu-form-label-top">
			<div data-v-3ad2572c="" class="ivu-form-item"
				style="margin-top: 20px;">
				<!---->
				<div class="ivu-form-item-content">
					<p data-v-3ad2572c="">出租方式</p>

					<!-- 出租方式 -->
					<div class="ivu-form-item-content">
						<div data-v-3ad2572c="" class="ivu-input-wrapper ivu-input-type"
							style="width: 200px;">
							<!---->
							<!---->
							<i
								class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
							<input name="rentalMode" autocomplete="off" spellcheck="false"
								type="text" placeholder="单间或整套" maxlength="4" class="ivu-input">
							<!---->
						</div>
						<span data-v-3ad2572c=""></span>
						<!---->
					</div>


					<section data-v-5a56108c="" data-v-3ad2572c=""
						class="g-unchangeable-tips-layout" style="">
						<!---->
						<p data-v-5a56108c="" class="tips"
							style="color: rgb(153, 153, 153);">该信息审核通过后不可修改</p>
					</section>
					<!---->
				</div>
			</div>
			<div data-v-3ad2572c="" class="ivu-form-item">
				<!---->
				<div class="ivu-form-item-content">
					<p data-v-3ad2572c="">房屋类型</p>


					<div id="inputHouseType" data-v-3ad2572c="" class="ivu-radio-group">
										<label data-v-3ad2572c=""
											class="redio-space ivu-radio-wrapper ivu-radio-group-item ivu-radio-wrapper-checked"><span
											class="ivu-radio ivu-radio-checked"> <input name="houseType" type="radio" value="公寓"  
												class=""  checked></span>公寓</label><label data-v-3ad2572c=""
											class="redio-space ivu-radio-wrapper ivu-radio-group-item"><span
											class="ivu-radio">
												<input name="houseType" type="radio" class="" value="客栈"></span>客栈</label><label
											data-v-3ad2572c=""
											class="redio-space ivu-radio-wrapper ivu-radio-group-item"><span
											class="ivu-radio">
												<input name="houseType" type="radio" class="" value="别墅"></span>别墅</label><label
											data-v-3ad2572c=""
											class="redio-space ivu-radio-wrapper ivu-radio-group-item"><span
											class="ivu-radio">
												<input name="houseType" type="radio" class="" value="其他/特色"></span>其他/特色</label>
									</div>




					<!-- 终点2-->

					<!--  类型-->

					<div data-v-3ad2572c="">
						<!---->
					</div>
					<div data-v-3ad2572c="">
						<!---->
						<!---->
					</div>
					<!---->
				</div>
			</div>
			<div data-v-3ad2572c="" class="ivu-form-item">
				<label class="ivu-form-item-label"><p data-v-3ad2572c="">房屋面积</p></label>
				<div class="ivu-form-item-content">
					<div data-v-3ad2572c="" class="ivu-input-wrapper ivu-input-type"
						style="width: 200px;">
						<!---->
						<!---->
						<i
							class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
						<input name="floorSpace" 
							type="number" placeholder="整套房屋的使用面积" maxlength="4" 
							class="ivu-input" οnkeyup="value=value.replace(/[^\d]/g,'')">
						<!---->
					</div>
					<span data-v-3ad2572c="">平米</span>
					<!---->
				</div>
			</div>
			<div data-v-3ad2572c="" class="ivu-form-item" style="display: none;">
				<label class="ivu-form-item-label">出租卧室面积</label>
				<div class="ivu-form-item-content">
					<div data-v-3ad2572c="" class="ivu-input-wrapper ivu-input-type"
						style="width: 200px;">
						<!---->
						<!---->
						<i
							class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
						<input autocomplete="off" spellcheck="false" type="text"
							placeholder="独立房间的使用面积" maxlength="2" class="ivu-input">
						<!---->
					</div>
					<span data-v-3ad2572c="">平米</span>
					<!---->
				</div>
			</div>
			<div data-v-3ad2572c="" class="ivu-form-item">
				<!---->
				<div class="ivu-form-item-content">
					<p data-v-3ad2572c="">房屋景观</p>


					<!-- 房屋景观 -->

					<div class="ivu-form-item-content">
						<div data-v-3ad2572c="" class="ivu-input-wrapper ivu-input-type"
							style="width: 200px;">
							<!---->
							<!---->
							<i
								class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
							<input name="ambitus" autocomplete="off" spellcheck="false"
								type="text" placeholder="如江边,山下......" maxlength="4"
								class="ivu-input" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\u4E00-\u9FA5]/g,''))">
							<!---->
						</div>
						<span data-v-3ad2572c=""></span>
						<!---->
					</div>

					<br data-v-3ad2572c="">
					<!---->
					<!---->
				</div>
			</div>
			<div data-v-3ad2572c="" class="ivu-form-item">
				<!---->
				<div class="ivu-form-item-content">
					<p data-v-3ad2572c="">房屋户型</p>
					<!--  房屋户型-->
					<div class="ivu-form-item-content">
						<div data-v-3ad2572c="" class="ivu-input-wrapper ivu-input-type"
							style="width: 200px;">
							<!---->
							<!---->
							<i
								class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
							<input name="houseType" autocomplete="off" spellcheck="false"
								type="text" placeholder="如四室两厅两卫......" maxlength="4"
								class="ivu-input">
							<!---->
						</div>
						<span data-v-3ad2572c=""></span>
						<!---->
					</div>








					<section data-v-5a56108c="" data-v-3ad2572c=""
						class="g-unchangeable-tips-layout" style="display: none;">
						<!---->
						<p data-v-5a56108c="" class="tips"
							style="color: rgb(255, 102, 102);">独立房间必须大于1室</p>
					</section>
					<section data-v-5a56108c="" data-v-3ad2572c=""
						class="g-unchangeable-tips-layout" style="">
						<!---->
					</section>
					<!---->
				</div>
			</div>
			<p data-v-3ad2572c="" style="margin-bottom: 8px;">床型</p>
			<div data-v-3ad2572c="" class="ivu-form-item">
				<!---->

				<div id=bedTypeDiv>
					<div class="ivu-form-item-content">
						<div data-v-3ad2572c="" class="ivu-input-wrapper ivu-input-type"
							style="width: 200px;">
							<!---->
							<!---->
							<i
								class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
							<input name="bedType" autocomplete="off" spellcheck="false"
								type="text" placeholder="大小...类型......" maxlength="4"
								class="ivu-input">
							<!---->
						</div>
						<span data-v-3ad2572c=""></span>
						<!---->
					</div>
				</div>
			</div>
			<!-- <button id="addBedType" onclick="doAddBedType()"  data-v-3ad2572c="" type="button"
				class="addBed-btn ivu-btn ivu-btn-primary">
				
				
				<span>+ 继续添加床型</span>
			</button> -->
			<div data-v-3ad2572c="" class="ivu-form-item ivu-form-item-required"
				style="width: 500px;"></div>
			<!---->
			<!---->
			<div data-v-3ad2572c="" class="ivu-form-item">
				<!---->
				<div class="ivu-form-item-content">
					<div data-v-3ad2572c="" class="nextStep">
						<button id="HousingDetailsInformation" onclick="doHousingDetailsData()" data-v-3ad2572c=""
							type="button" class="nextStep-btn ivu-btn ivu-btn-primary">
							<!---->
							<!---->
							<span>下一步</span>
						</button>
					</div>
					<!---->
				</div>
			</div>
		</form>
		<!---->
		
		
		
	</div>
</div>
           





<!-- 活动div终点 -->


