#floor{
	box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
	padding-top: 5px;
    padding-bottom: 10px;
}

.divb{
	padding-top: 5px;
    padding-bottom: 5px;
}

#spa{
	font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.diva{
	overflow:hidden;
	padding-top: 5px;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    width: 950px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

tr{
    /* 添加边框 */
    border:2px solid #e8e8ea;
    background-color: #f8f8f9;
}

.ableMove:nth-child(even){
	background-color: white;
}


th{
    padding: auto;
    font-size: 14px;
    width: 100%;
    min-width: 100px;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f9;
}

td{
    /* 设置单元格边框和内容之间的距离(内边距) */
    padding: auto;
    font-size: 14px;
    width: 100%;
    min-width: 100px;
    text-align: center;
    padding: 10px;
}

.bua{
    padding: 3px 10px;
    color: white;
    background-color: #6e80e3;
    border-color: #6e80e3;
}

input{
	padding: 2px 10px;
    border:2px solid #e8e8ea;
}

#tra td{
    border:2px solid #e8e8ea;
}

.spb{
    border:2px solid #e8e8ea;
}
select{
    border:2px solid #e8e8ea;
	padding: 2px 10px 5px 10px;
}