<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.duanzu.Dao.MerchantDao">
	<select id="findMerchantByID" resultType="com.tedu.duanzu.entity.Merchant">
	 select * from tb_business where landlord_id = #{landlord_id}
	</select>

</mapper>