<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			#bt{
				
			}
			#bt dl{
				width:800px;
				height: 100px;
				line-height: 30px;
			}
			#bt dl img{
				width:200px;
				height: 100px;
			}
			#bt dl dt{
				float: left;
			}
			#bt dl dd {
				float: left;
				/*margin-top: -10px;*/
			}
			#bt dl ul li{
			line-height: 20px;
			list-style: none;
			}
		</style>
	</head>
	<body>
		<div id="bt">
			
			<dl>
				<dt><img src="../img/928769.png"></dt>
				<dd>
					<ul>
						<li>房间风格</li>
						<li>基础价</li>
						<li>入住人：张伟</li>
						<li>入住日期：2019.10.24</li>
					</ul>
				</dd>
				<dd>
					<ul>
						<li>预订房数：</li>
						<li>总价</li>
						<li>押金信息k</li>
						<li></li>
					</ul>
				</dd>
				<dd>
					<ul>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li><a href="#bt">评价</a></li>
						<li></li>
					</ul>
				</dd>
			</dl>
		</div>
	</body>
	
</html>

