<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			form{
				width: 1000px;
			}
			li{
				list-style: none;
			}
			tr{
				line-height: 30px;
			}
			button{
				border: 1px solid #999999;
				background-color: white;
			}
			td{
				font-size: 15px;
			}
		</style>
	</head>
	<body>
		<h3>结算设置</h3>
		<div>
			<form>
				<table border="0" cellspacing="0" cellpadding="0" width="500">
					
					<tr>
						<td>币种</td>
					</tr>
					<tr>
						<td><select style="width: 200px;">
							<option selected="selected">人民币</option>
						</select></td>
					</tr>
					
					<tr>
						<td>结算账号<font color="orange">*</font><font size="1" color="#999999">*</font></td>
					</tr>
					<tr>
						<td><input type="radio" checked="checked">支付宝&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio">微信</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>账号公私类型<font color="orange">*</font></td>
					</tr>
					<tr>
						<td><input type="radio" checked="checked">个人账号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio">企业账号</td>
					</tr>
					
					<tr>
						<td>真实姓名<font color="orange">*</font></td>
					</tr>
					<tr>
						<td><input type="text" style="width:250px" placeholder="请输入真实姓名"></td>
					</tr>
					<tr>
						<td>支付宝账号<font color="orange">*</font></td>
					</tr>
					<tr>
						<td><input type="text" style="width:250px" placeholder="请输入支付宝账号"></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					
					<tr>
						<td>结算周期</td>
					</tr>
					<tr>
						<td><input type="radio" checked="checked">按天结算&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio">按月结算</td>
					</tr>
					<tr>
						<td>是否需要发票</td>
					</tr>
					<tr>
						<td>
							<input type="radio" checked="checked">不需要&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio">增值税普通发票&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="radio">增值税专业发票</td>
					</tr>
					
					<tr>
						<td>结算联系电话<font color="orange">*</font></td>
					</tr>
					<tr>
						<td><input type="text" style="width:250px" placeholder="请输入结算联系电话"></td>
					</tr>
					<hr>
					<tr>
						<td style="float: right;"><input type="button" value="保存" style="background-color: #0088CC;color: white;border: none;"></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					</tr>
				</table>
			</form>
		</div>
		
	</body>
</html>
