<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script>
		
	</script>
	<style>
		li{
			list-style: none;
			
		}
		a{
			text-decoration: none;
		}
	button{
		border:1px solid #CCCCCC;
		background-color: white;
		width: 100px;
		height: 50px;
	}
	button:hover{
		border: 1px solid #A4E9C1;
	}
	#er table{
		width:1200px;
		background-color:#EEEEEE ;
	}
	#er table tr th{
		height: 40px;
		font-weight: 100;
	}
	img{
		width: 150px;
		height: 80px;
		float: left;
	}
	#ii table tr{
		width: 900px;
		height: 30px;
	}
	</style>
	<body>
		<div style="width:1200px;height: 30px;">
		<ul>
			<li ><h3>价格管理</h3></li>
			<li style="text-align: right;"><button style="border: none;background-color:#0000FF;color: white;">选择查询</button></li>
		</ul>
		</div>
		<hr>
		<form>
			<input type="date" value="" id="date" style="width: 200px;" />
			<input type="button" value="查询">
			<button><前一天</button>
			<button>后一天></button>
			<button>8月新开放</button>
			<button>节假日</button>
			<span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
			<input type="checkbox" />可售
			<input type="checkbox" />已售完
		</form>
		<div id="er">
		<table border="1" cellpadding="0" cellspacing="0">
			<tr>
				<th>今天</th>
				<th>28</th>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>
				<th>6</th><th>7</th>
				<th>8</th>
				<th>9</th><th>10</th>
				<th>11</th>
				<th>12</th>
			</tr>
			<tr>
				<th>三</th>
				<th>四</th>
				<th>五</th>
				<th>六</th>
				<th>日</th>
				<th>一</th>
				<th>二</th>
				<th>三</th>
				<th>四</th>
				<th>五</th>
				<th>六</th>
				<th>日</th>
				<th>一</th>
				<th>二</th>
			</tr>
		</table>
		</div>
		<br />
		
		<div id="ii">
			<table border="1" cellpadding="0" cellspacing="0">
				<tr>
					<td colspan="11" style="border: none;">
						<img src="img/928769.png" />	
					<ul>
						<li style="font-size: 20px;line-height: 30px;">胭脂</li>
						<li>编号：234234234</li>
					</ul>
					</td>
					<td style="text-align: right;border: none;">
						已上架
					</td>
					<td style="text-align: right;border: none;"></td>
					<td style="text-align: right;border: none;"></td>
				</tr>
				
				<tr>
					<th>
						<ul>
							<li><font color="orange">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="orange">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red" >￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th style="text-align: center;">
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
				</tr>
				<tr>
					<td colspan="14" style="text-align: right;font-size: 12px;"><font color="#999999">连住7天：9.5折|连住15天：9折|连住30天：8.5折|</font><a href="moneysz.html">去管理基础价</a></td>
				</tr>
			</table>
			<br />
			
			<table border="1" cellpadding="0" cellspacing="0">
				<tr>
					<td colspan="11" style="border: none;">
						<img src="img/928769.png" />	
					<ul>
						<li style="font-size: 20px;line-height: 30px;">胭脂</li>
						<li>编号：234234234</li>
					</ul>
					</td>
					<td style="text-align: right;border: none;">
						已上架
					</td>
					<td style="text-align: right;border: none;"></td>
					<td style="text-align: right;border: none;"></td>
				</tr>
				
				<tr>
					<th>
						<ul>
							<li><font color="orange">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="orange">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red" >￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th>
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
					<th style="text-align: center;">
						<ul>
							<li><font color="red">￥658</font></li>
							<li>1</li>
						</ul>
					</th>
				</tr>
				<tr>
					<td colspan="14" style="text-align: right;font-size: 12px;"><font color="#999999">连住7天：9.5折|连住15天：9折|连住30天：8.5折|</font><a href="moneysz.html">去管理基础价</a></td>
				</tr>
			</table>
			<br />
		</div>
	</body>
</html>
