<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			
		</style>
	</head>
	<body>
			<p>提醒设置</p>
			<hr>
			<div>
				<form style="border: 1px solid #999999;width: 900px;">
					<table>
						<tr>
							<td><h3><input type="checkbox" checked="checked">站内推送</h3></td>
						</tr>
						<tr>
							<td style="width: 150px;"><input type="checkbox" checked="checked">客人生成订单</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">客人支付完成</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">客人支付过期</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">客人取消订单</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">房屋提交发布</td>
						</tr>
						<tr>
							<td style="width: 150px;"><input type="checkbox" checked="checked">房屋发布成功</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">房屋审核失败</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">用户接受邀请</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">用户拒绝邀请</td>
						</tr>						
					</table>
					<table>
						<tr>
							<td><h3><input type="checkbox" checked="checked">系统消息推送</h3></td>
						</tr>
						<tr>
							<td style="width: 150px;"><input type="checkbox" checked="checked">客人生成订单</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">客人支付完成</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">客人支付过期</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">客人取消订单</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">房屋提交发布</td>
						</tr>
						<tr>
							<td style="width: 150px;"><input type="checkbox" checked="checked">房屋发布成功</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">房屋审核失败</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">用户接受邀请</td>
							<td style="width: 150px;"><input type="checkbox" checked="checked">用户拒绝邀请</td>
						</tr>						
					</table>
				</form>
			</div>
	</body>
</html>
