<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript">
			
		</script>
		<style type="text/css">
			a{
				text-decoration: none;
				color: black;
			}
			li{
				list-style: none;
			}
			td img{
				width:200px;
				height: 100px;
			}
			td{
				border: none;
			}
		</style>
	</head>
	<body>
		<p>家园优选</p>
		<hr>
		<p></p>
		<img src="img/910061_193107043_2.jpg" width="1100" height="80"/>
		<p></p>
		<p style="width: 1100px;">房屋标准&nbsp;<span style="font-size: 10px;color: #999999;">优选房屋（）个</span>&nbsp;<span style="font-size: 10px;color: #999999;">非优选房屋（）个</span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						
						<span style="font-size: 10px;color: #999999;float: right;">每月20号更新</span>
		</p>
		<div style="width: 1100px;">
			<table id="dd" cellpadding="0" cellspacing="0" height="100" style="border: 1px solid #666666;width: 1100px;">
			<tr class="bee">
				<td style="width: 200px"><img src="img/928769.png"></td>	
				<td style="width: 300px">
					<ul>
						<li style="font-size: 20px;line-height: 30px;">花青</li>
						<li style="color: #999999;">北京朝阳区白家庄东里42号院</li>
						<li>&nbsp;</li>
						<li style="color: #00EE00;">已上架</li>
					</ul>
				</td>
				<!--<td style="width: 150px">
					<ul>
						<li>&nbsp;</li>
						<li style="font-size: 12px;">已上架（审核通过）</li>	
						<li></li>
					</ul>
				</td>-->
				<td style="width: 300px">
					<ul>
						<li style="">
							&nbsp;
						</li>
						<li style="text-align: center;"><a href="#" style="font-size: 12px;">达标进度</a></li>
						<li style="text-align: center;"></li>
					</ul>
				</td>
				<td  style="width: 300px">
					<ul>
						<li>&nbsp;</li>
						<li style="text-align: center;">
							<a href="#">
								<div id="main1" style="color:black;display: block;">收起详情V</div></a>
						</li>
					</ul>
				</td>
				
    								<table style="width: 1100px;border: 1px solid #999999;">
    									<tr>
    										<td style="width: 200px">&nbsp;</td>
    										<td>
    											<ul>
    												<li>闪订</li>
    												<li>目标：房屋开启预订</li>
    											</ul>
    										</td>
    										<td style="text-align: center;"><a href="#" style="font-size: 12px;">优选：否</td>
    										<td>
    											<ul>
    												<li>您的房屋暂未开启预订</li>
    												<li></li>
    											</ul>
    										</td>
    									</tr>
    								</table>
    								<table style="width: 1100px;border: 1px solid #999999;">
    									<tr>
    										<td style="width: 200px">&nbsp;</td>
    										<td>
    											<ul>
    												<li>闪订</li>
    												<li>目标：房屋开启预订</li>
    											</ul>
    										</td>
    										<td style="text-align: center;"><a href="#" style="font-size: 12px;">优选：否</td>
    										<td>
    											<ul>
    												<li>您的房屋暂未开启预订</li>
    												<li></li>
    											</ul>
    										</td>
    									</tr>
    								</table>
    								<table style="width: 1100px;border: 1px solid #999999;">
    									<tr>
    										<td style="width: 200px">&nbsp;</td>
    										<td>
    											<ul>
    												<li>闪订</li>
    												<li>目标：房屋开启预订</li>
    											</ul>
    										</td>
    										<td style="text-align: center;"><a href="#" style="font-size: 12px;">优选：否</td>
    										<td>
    											<ul>
    												<li>您的房屋暂未开启预订</li>
    												<li></li>
    											</ul>
    										</td>
    									</tr>
    								</table>
    								<p></p>
    								<table id="dd" cellpadding="0" cellspacing="0" height="100" style="border: 1px solid #666666;width: 1100px;">
			<tr class="bee">
				<td style="width: 200px"><img src="img/928769.png"></td>	
				<td style="width: 300px">
					<ul>
						<li style="font-size: 20px;line-height: 30px;">花青</li>
						<li style="color: #999999;">北京朝阳区白家庄东里42号院</li>
						<li>&nbsp;</li>
						<li style="color: #00EE00;">已上架</li>
					</ul>
				</td>
				<!--<td style="width: 150px">
					<ul>
						<li>&nbsp;</li>
						<li style="font-size: 12px;">已上架（审核通过）</li>	
						<li></li>
					</ul>
				</td>-->
				<td style="width: 300px">
					<ul>
						<li style="">
							&nbsp;
						</li>
						<li style="text-align: center;"><a href="#" style="font-size: 12px;">达标进度</a></li>
						<li style="text-align: center;"></li>
					</ul>
				</td>
				<td  style="width: 300px">
					<ul>
						<li>&nbsp;</li>
						<li style="text-align: center;">
							<a href="#">
								<div id="main1" style="color:black;display: block;">收起详情V</div></a>
						</li>
					</ul>
				</td>
				
    								<table style="width: 1100px;border: 1px solid #999999;">
    									<tr>
    										<td style="width: 200px">&nbsp;</td>
    										<td>
    											<ul>
    												<li>闪订</li>
    												<li>目标：房屋开启预订</li>
    											</ul>
    										</td>
    										<td style="text-align: center;"><a href="#" style="font-size: 12px;">优选：否</td>
    										<td>
    											<ul>
    												<li>您的房屋暂未开启预订</li>
    												<li></li>
    											</ul>
    										</td>
    									</tr>
    								</table>
    								<table style="width: 1100px;border: 1px solid #999999;">
    									<tr>
    										<td style="width: 200px">&nbsp;</td>
    										<td>
    											<ul>
    												<li>闪订</li>
    												<li>目标：房屋开启预订</li>
    											</ul>
    										</td>
    										<td style="text-align: center;"><a href="#" style="font-size: 12px;">优选：否</td>
    										<td>
    											<ul>
    												<li>您的房屋暂未开启预订</li>
    												<li></li>
    											</ul>
    										</td>
    									</tr>
    								</table>
    								<table style="width: 1100px;border: 1px solid #999999;">
    									<tr>
    										<td style="width: 200px">&nbsp;</td>
    										<td>
    											<ul>
    												<li>闪订</li>
    												<li>目标：房屋开启预订</li>
    											</ul>
    										</td>
    										<td style="text-align: center;"><a href="#" style="font-size: 12px;">优选：否</td>
    										<td>
    											<ul>
    												<li>您的房屋暂未开启预订</li>
    												<li></li>
    											</ul>
    										</td>
    									</tr>
    								</table>
    								<p></p>
    								<table id="dd" cellpadding="0" cellspacing="0" height="100" style="border: 1px solid #666666;width: 1100px;">
			<tr class="bee">
				<td style="width: 200px"><img src="img/928769.png"></td>	
				<td style="width: 300px">
					<ul>
						<li style="font-size: 20px;line-height: 30px;">花青</li>
						<li style="color: #999999;">北京朝阳区白家庄东里42号院</li>
						<li>&nbsp;</li>
						<li style="color: #00EE00;">已上架</li>
					</ul>
				</td>
				<!--<td style="width: 150px">
					<ul>
						<li>&nbsp;</li>
						<li style="font-size: 12px;">已上架（审核通过）</li>	
						<li></li>
					</ul>
				</td>-->
				<td style="width: 300px">
					<ul>
						<li style="">
							&nbsp;
						</li>
						<li style="text-align: center;"><a href="#" style="font-size: 12px;">达标进度</a></li>
						<li style="text-align: center;"></li>
					</ul>
				</td>
				<td  style="width: 300px">
					<ul>
						<li>&nbsp;</li>
						<li style="text-align: center;">
							<a href="#">
								<div id="main1" style="color:black;display: block;">收起详情V</div></a>
						</li>
					</ul>
				</td>
				
    								<table style="width: 1100px;border: 1px solid #999999;">
    									<tr>
    										<td style="width: 200px">&nbsp;</td>
    										<td>
    											<ul>
    												<li>闪订</li>
    												<li>目标：房屋开启预订</li>
    											</ul>
    										</td>
    										<td style="text-align: center;"><a href="#" style="font-size: 12px;">优选：否</td>
    										<td>
    											<ul>
    												<li>您的房屋暂未开启预订</li>
    												<li></li>
    											</ul>
    										</td>
    									</tr>
    								</table>
    								<table style="width: 1100px;border: 1px solid #999999;">
    									<tr>
    										<td style="width: 200px">&nbsp;</td>
    										<td>
    											<ul>
    												<li>闪订</li>
    												<li>目标：房屋开启预订</li>
    											</ul>
    										</td>
    										<td style="text-align: center;"><a href="#" style="font-size: 12px;">优选：否</td>
    										<td>
    											<ul>
    												<li>您的房屋暂未开启预订</li>
    												<li></li>
    											</ul>
    										</td>
    									</tr>
    								</table>
    								<table style="width: 1100px;border: 1px solid #999999;">
    									<tr>
    										<td style="width: 200px">&nbsp;</td>
    										<td>
    											<ul>
    												<li>闪订</li>
    												<li>目标：房屋开启预订</li>
    											</ul>
    										</td>
    										<td style="text-align: center;"><a href="#" style="font-size: 12px;">优选：否</td>
    										<td>
    											<ul>
    												<li>您的房屋暂未开启预订</li>
    												<li></li>
    											</ul>
    										</td>
    									</tr>
    								</table>
    								<p></p>
			
		</div>

	</body>
</html>
