<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>富婆短租</title>
<meta name="keywords" content="富婆短租">
<meta name="content" content="富婆短租">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link type="text/css" rel="stylesheet" href="public/css/login.css">
<script type="text/javascript" src="public/js/jquery.min.js"></script>

</head>
<body class="login_bj">

	<div class="zhuce_body">
		<div class="logo">
			<a href="#"><img src="img/fupo.png" width="100%" height="100%"
				border="0"></a>
		</div>
		<div class="zhuce_kong">
			<div class="zc">
				<div class="bj_bai">
					<h3>欢迎注册富婆短租</h3>
					<form action="" method="get">
						<input name="" type="text" class="kuang_txt phone" placeholder="手机号"><label id="id1" for="male"></label>
						<input name="" type="text" class="kuang_txt email" placeholder="邮箱"><label id="id2" for="male"></label>
						<input name="" type="password" class="kuang_txt password" placeholder="密码"><label id="id3" for="male"></label>
						<input name="" type="text" class="kuang_txt nickname" placeholder="昵称"><label id="id4" for="male"></label>
						<input name="" type="text" class="kuang_txt yanzm" placeholder="验证码">
						<div>
							<div class="hui_kuang">
								<img src="landlord/getPicCode" onclick='landlord/getPicCode?r='+Math.random() width="92" height="31">
							</div>
							<div class="shuaxin">
								<a href="#"><img src="http:///user/getCaptchaImage"
									width="13" height="14"></a>
							</div>
						</div>
						<div>
							<input name="" type="checkbox" value=""><span>已阅读并同意<a
								href="#" target="_blank"><span class="lan">《商户短租使用协议》</span></a></span>
						</div>
						<input name="注册" type="button" class="btn_zhuce" value="注册">

					</form>
				</div>
				<div class="bj_right">
					<p>
						已有账号？<a href="login.html">立即登录</a>
					</p>
				</div>
			</div>

		</div>

	</div>


</body>
<script type="text/javascript">
	
	$(function() {
		$(".btn_zhuce").click(dozhuceUI);
		
	});
	
	function dozhuceUI() {
		
		var url = "landlord/register";
		var params = {
			MasterNumber : $(".phone").val(),
			serviceEmail : $(".email").val(),
			password : $(".password").val(),
			nickname : $(".nickname").val(),
			code:$(".yanzm").val()
		}

		$.post(url, params, function(data) {
			if (data.state == 1) {
				alert(data.message);
				location.href = "fupo";
			} else {
				$(".login-box-msg").html(data.message);
				//location.href="fupo";
			}
			return false;//防止刷新时重复提交
		})
	}
</script>
</html>